/*-- scss:defaults --*/

@import url('/assets/fonts/plaid-trial.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  height: 100vh;
}

// fonts
$font-family-sans-serif: "Plaid Trial", "Space Mono" !default;

// colors
$light: #F0EEF3;
$light-gray: #DCD9E5;
$gray: #656574;
$dark: #24242A;
$purple: #D330ED;
$green: #62F0AC;

$body-bg: $light !default;
$body-color: $dark!default;
$link-color: $purple!default;
$selection-bg: $purple !default;

// font styling

%plaid-xxl {
  font-size: 72px;
  line-height: 86px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 800;
}

%plaid-xl-semibold {
  font-size: 48px;
  line-height: 57px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 600;
}

%plaid-xl-extrabold {
  font-size: 48px;
  line-height: 57px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 800;
}

%plaid-l-2 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 800;
}

%plaid-l {
  font-size: 24px;
  line-height: 28px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 600;
}

%plaid-m-2 {
  font-size: 21px;
  line-height: 21px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 400;
}

%plaid-m {
  font-size: 18px;
  line-height: 21px;
  font-family: "Plaid Trial", sans serif;
  font-weight: 400;
}

%space-mono-l {
  font-size: 30px;
  line-height: 36px;
  font-family: "Space Mono", sans serif;
  font-weight: 400;
}

%space-mono-m-2 {
  font-size: 21px;
  line-height: 25px;
  font-family: "Space Mono", sans serif;
  font-weight: 400;
}

%space-mono-m {
  font-size: 18px;
  line-height: 21px;
  font-family: "Space Mono", sans serif;
  font-weight: 400;
}

// bg-styling

%blank-white {
  background: url("/assets/templates/blank-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// headings
$presentation-heading-font: "Plaid Trial", "Space Mono", sans serif !default;
$presentation-heading-color: $dark !default;
$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

.relative {
  position: relative;
}

div.slide-background.slide.level2 {
  padding: 0!important;
}



.slide.level2 {
  h2 {
    @extend %plaid-xxl;
    
    text-transform: uppercase;
  }

  h3 {
    @extend %space-mono-l;
  }
  p {
    @extend %plaid-m;
  }

}

// - 1-w & 1-b - Slides black and white versions 3 optional columns w/ optioal subtitle
.slide.level2.slide-classic-w-v1,
.slide.level2.slide-classic-b-v1 {
  padding: 114px 52px;
  
  h2 {
    display: inline-block;
    width: 70%;
    
  }
  h3 {
    text-transform: none;
    display: inline-block;
    width: 70%;
  }
  p {
    color: $gray;
  }

  .column {
    width: 33%;
    padding-right: 40px;
  }
}

.slide.level2.slide-classic-b-v1 {
  h2, h3, h4, p, .column p, li {
    color: $light;
  }

}

// - 2 - Slide white 2 column w/ normalcase and paragraph
.slide.level2.slide-classic-w-v2 {
  padding: 114px 52px;
  
  h2 {
    @extend %plaid-xl-semibold;
    
    margin-bottom: 50px;
    text-transform: none;
    display: inline-block;
    width: 70%;
    
  }
  h3 {
    @extend %space-mono-l;

    margin-bottom: 50px;
    text-transform: none;
    display: inline-block;
    width: 70%;
  }
  p {
    @extend %space-mono-m-2;
  }

  .column {
    width: 50%;
    padding-right: 40px;
  }
}

// - 3 - Slide white 1 column w/ uppercase and paragraph
.slide.level2.slide-classic-w-v3 {
  padding: 114px 52px;
  
  h2 {
    @extend %plaid-xl-semibold;
    
    margin-bottom: 50px;
    text-transform: uppercase;
    display: inline-block;
    width: 70%;
    
  }
  p {
    @extend %space-mono-l;

    margin: 0;
    text-transform: none;
    display: inline-block;
    width: 55%;
  }

}

// - 4 - Slide quote green bg
.slide.level2.slide-quote-g {
  text-align: center;


  h3 {
    @extend %plaid-xl-extrabold;
    
    text-transform: uppercase;
    display: inline-block;
    width: 70%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30vh;
        
  }
  p {
    @extend %space-mono-l;

    text-transform: none;
    display: inline-block;
    width: 55%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20vh;
  }

}


// - 5 -Slide title centered purple bg
.slide.level2.slide-title-p {
  text-align: center;
  color: $light;

  h3 {
    @extend %plaid-xxl;

    color: $light;
    display: inline-block;
    width: 60%;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20vh;
    
  }
}

// - 6 - Slide agenda simple - white bg
.slide.level2.slide-agenda-simple {
  padding: 114px 52px;
  
  h2 {
    @extend %plaid-xl-semibold;
    
    margin-bottom: 50px;
    text-transform: uppercase;
    
  }
  .column {
    width: 40%;
    ol {
      counter-reset: item;
      list-style-type: none;
    
      li {
        @extend %plaid-l-2;

        text-transform: uppercase;
        list-style-type: none;
      }
      li:before { 
        content: "0" counter(item) " // "; 
        counter-increment: item; 
    }

}
  }
}

// - 7 - Slide agenda 3 items per column  w/ subtitles | 2 column - white bg
.slide.level2.slide-agenda-3x2,
.slide.level2.slide-agenda-4x2{
  padding: 114px 52px;
  
  h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    
  }
  .column {
    width: 50%;

    .reveal .slide ol {
      margin: 0;
    }

    ol {
      // counter-reset: item;
      counter-increment: item;
      list-style-type: none;
      margin: 0!important;
    
      li {
        @extend %plaid-xl-extrabold;

        text-transform: uppercase;
        list-style-type: none;
      }
      li:before { 
        content: "0" counter(item) " // "; 
        // counter-increment: item; 
    }
  }
  p {
    @extend %plaid-m;

    margin-top: 0;
    margin-bottom: 30px;
  }
  }
  .column:nth-of-type(2) {
    ol:nth-of-type(1) {
      counter-increment: item 4;
    }
  }  
}

.slide.level2.slide-agenda-4x2 {
  .column:nth-of-type(2) {
    ol:nth-of-type(1) {
      counter-increment: item 5;
    }
  }  
}

// - 8 - Slide with tables dark and light depending on class
.slide.level2.slide-table {
  padding: 114px 52px;
  
  table {
    margin: 0 10px;
  }

  .dark, .light {
    display: inline-block;
  }

    table {
      th {
        @extend %plaid-m;
        
        padding: 22px 13px;
      }
      tr {
        border: 2px solid $dark;
        background-color: $light;

        @extend %plaid-l;

        td {
          padding: 22px 30px;
          border: 2px solid $dark;
          min-width: 200px;
          text-transform: uppercase;
        }
      }
    }

  .dark {
    table {
      th {
        background-color: $dark;
        color: $light;
      }
      tr {
        background-color: $light;
        color: $dark;
      }
    }
  }

  .light {
    table {
      tr.header {
        border: none;
      }
      th {
        background-color: $light-gray;
        color: $dark;
      }
      tr {
        background-color: $light;
        color: $dark;
      }
    }
  }

}


// - 9 - Slide with title without footer text - black bg
// - 10 - Slide with title w/ footer text - black bg
.slide.level2.slide-title-b-v1,
.slide.level2.slide-title-b-v2 {
  padding: 53px 44px;

  h2 {
    color: $light;
    padding-bottom: 53px;
    display: inline-block;
    width: 96%;
    border-bottom: 2px solid $light;
  }
}

// - 11 - Slide with 2 columns - left text black bg, right image white bg
.slide.level2.slide-b-l-w-r {
  height: 100vh;
  .columns {
    height: 100%;
    display: flex;

  .column {
    width: 50%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      @extend %plaid-xl-extrabold;
    }

    p {
      @extend %plaid-m;
    }

    li, li p {
      @extend %space-mono-m;

      margin-bottom: 15px;
    }

  }

  .column:nth-of-type(1) {
    color: $light;
    padding-left: 2%;
    padding-right: 5%;
    
    h2, h3, h4 {
      color: $light;
    }
  
  }

  .column:nth-of-type(2) {
    color: $dark;
    padding-left: 5%;
    padding-right: 2%;
  }
  }
}

// - 12 - Slide w/ full screen image
.slide.level2.slide-img-full {
  color: $light;
}

// - 13 - Slide w/ 1 custom image in center, either horizontal or vertical 
.slide.level2.slide-img-center-w {
  text-align: center;

  h2 {
    @extend %plaid-xxl;

    padding: 46px 0 0 45px;
    margin-bottom: 60px;
    text-align: left;
  }

  p.caption {
    @extend %plaid-m;

    color: $gray;
  }

  img {
    max-width: 65%!important;
    height: auto!important;
    max-height: 65%!important;
    margin: 0 auto!important;

  }
}

// - 14 - Slide w/ 2 columns, both white, left is for images, right is for text
.slide.level2.slide-img-l-txt-r-w,
.slide.level2.slide-speaker-img-l-txt-r-w {
  height: 100vh;
  .columns {
    height: 100%;
    display: flex;
  .column {
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      @extend %plaid-xl-extrabold;
    }

    p {
      @extend %plaid-m;
    }

    li, li p {
      @extend %space-mono-m;

      margin-bottom: 15px;
    }

    img {
      margin-bottom: 15px;
    }

  }

  .column:nth-of-type(1) {
    padding-left: 2%;
    padding-right: 5%;
    text-align:center;
  }

  .column:nth-of-type(2) {
    padding-left: 5%;
    padding-right: 2%;
  }
  }
}

// - 15 - Slide for speakers w/ 2 columns, both white, left is for speaker image that will be rounded and right is for text
.slide.level2.slide-speaker-img-l-txt-r-w {
  height: 100vh;
  .columns {
    height: 100%;
    display: flex;
  .column {
    padding: 0 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      @extend %plaid-xl-semibold;

      width: min-content;
    }
  }
  
  .column:nth-of-type(1) {
    .round {
      height: 550px;
      width: 550px;
      margin: 0 auto;
          p {
            display: inline-block;
            height: 100%;
            width: 100%;
              img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 100%;
              }
          }
      } 
  }

  .column:nth-of-type(2) {
    p {
      @extend %plaid-m-2;
    }
  }

}
}

// - 16 - Slide for projects list
.slide.level2.slide-projects {
  padding: 45px 46px;
  background-color: linear-gradient(to top, $purple 10%, transparent 90%);
  h2 {
    @extend %plaid-xxl;

    color: $light;
  }

  h3 {
    @extend %space-mono-l;
    
    color: $light;
    text-transform: none;
  }

  .items {
    width: 1200px;
    height: 100%;

  p {
    @extend %plaid-l;

    color: $light;
  
    width: 322px;
    height: 100px;
    padding: 18px;
    border-right: 2px solid $light;
    margin: 0 0 15px 0;
    float: left;
  }

  p:nth-child(3n-2) {
    border-left: 2px solid $light;
  }
}


}

// - 17 - Slide for team members list w/ image
.slide.level2.slide-team {
  padding: 45px 46px;
  h2 {
    color: $light;
  }

  h3 {
    color: $light;
    text-transform: none;
  }

  .team {
    width: 1200px;
    height: 100%;

    .member {
      width: 322px;
      height: 100px;
      padding: 18px;
      border-right: 2px solid $light;

      margin: 0 0 15px 0;
      float: left;

      color: $light;
          p {
            display: inline-block;
            height: 100px;
            width: 100px;
              img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 100%;
              }
          }

          figcaption {
            position: relative;
            bottom: 120px;
            left: 120px;
            width: min-content;

          }
      } 

      .member:nth-child(3n-2) {
        border-left: 2px solid $light;
      }
  }
}

// - 18 - Slide for partner logos
.slide.level2.slide-partners {
  padding: 53px 62px;
    h2 {  
      color: $light;
      padding-top: 220px;
      display: inline-block;

      width: 95%;
      text-align: center;

    }

    .partners {
      width: 1400px;
      height: 100%;
      margin: 0 auto;
  
      .partner {
        width: 260px;
        height: 105px;
        padding: 18px;
        border-radius: 20px;
        background-color: rgb(101, 101, 116, 0.08);
  
        margin: 15px;
        float: left;
  
        
            p {
              display: inline-block;
              margin: 0;
              height: 100%;
              width: 100%;
              text-align: center;
                img {
                  margin: 0 auto;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  filter: grayscale(1);
                }
            }
  
        .quarto-figure.quarto-figure-center {
          height: 100%;
          margin: 0;
          figure {
            height: 100%;
            width: 100%;
            p {
              display: inline-block;
              margin: 0;
              height: 100%;
              width: 100%;
              text-align: center;
                img {
                  margin: 0 auto;
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  filter: grayscale(1);
                }
            }

            figcaption {
              position: relative;
              bottom: 120px;
              
              font-size: 24px;
  
            }
            }
          }
        } 
  
        // .member:nth-child(3n-2) {
        //   border-left: 2px solid $dark;
        // }
    }
}

// - 19 - Slide with full height left image (variety of options) + right text column
// v7, v8, v6-out-transp etc
.slide.level2.slide-full-img-l-txt-r,
.slide.level2.slide-full-img-l-txt-r-v1,
.slide.level2.slide-full-img-l-txt-r-v2,
.slide.level2.slide-full-img-l-txt-r-v3,
.slide.level2.slide-full-img-l-txt-r-v4,
.slide.level2.slide-full-img-l-txt-r-v5-in,
.slide.level2.slide-full-img-l-txt-r-v6-in,
.slide.level2.slide-full-img-l-txt-r-v6-out,
.slide.level2.slide-full-img-l-txt-r-v6-out-transp,
.slide.level2.slide-full-img-l-txt-r-v7,
.slide.level2.slide-full-img-l-txt-r-v8,
.slide.level2.slide-full-img-l-txt-r-v9,
.slide.level2.slide-full-img-l-txt-r-v10-in,
.slide.level2.slide-full-img-l-txt-r-v10-out {
  .columns {
    height: 100%;
    display: flex;
  .column {
    padding: 0 2%;
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      @extend %plaid-xl-extrabold;
    }


    li, li p {
      @extend %space-mono-m;
      margin-bottom: 15px;
    }

  }
}
height: 100%;
width: 100%;
.right {
  margin: 0 4% 0 50%;
  width: 50%;
  height: 100%;
  box-sizing: border-box;

  display: inline-flex!important;
  flex-direction: column;
  justify-content: center;
  
  h3 {
    @extend %plaid-xl-extrabold;
  }


  li, li p {
    @extend %space-mono-m;
    margin-bottom: 15px;
  }
}
}

// 20 Slide final - title w/ black bg
.slide.level2.slide-outro {
    // width: 100%;
    // height: 100%;
    padding: 53px 62px;
    // text-align: right;
    h2 {
      color: $light;
      // padding-top: 45px;
      display: inline-block;
      margin-left:300px;
      // width: 65%;
      // text-align: right;

      position: absolute;
      top: 45px;
      // right: 0;

    }

  }

//--------------------------------------------------------------------  
// slide template backgrounds

div.backgrounds {

  // white bg classic
  div.slide-background.slide.level2.slide-classic-w-v1,
  div.slide-background.slide.level2.slide-classic-w-v2,
  div.slide-background.slide.level2.slide-classic-w-v3,
  div.slide-background.slide.level2.slide-agenda-simple,
  div.slide-background.slide.level2.slide-agenda-3x2,
  div.slide-background.slide.level2.slide-agenda-4x2,
  div.slide-background.slide.level2.slide-table,
  div.slide-background.slide.slide-img-center-w,
  div.slide-background.slide.slide-img-l-txt-r-w,
  div.slide-background.slide.slide-speaker-img-l-txt-r-w {
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/template-elements/star-black.svg"), url("/assets/template-elements/horizontal-line-black.svg"), url("/assets/template-elements/footer-text-black.svg");
    background-repeat: no-repeat;
    background-size: 110px 110px, 123px 123px, auto, auto;
    background-position: right 40px top 40px, right 40px bottom 33px, right 223px bottom 95px, left 45px bottom 84px;
  }
  // black bg classic
  div.slide-background.slide.level2.slide-classic-b-v1,
  div.slide-background.slide.level2.slide-team,
  div.slide-background.slide.level2.slide-projects {
    background-image: url("/assets/template-elements/3327-logo-tr-white.svg"), url("/assets/template-elements/star-white.svg"), url("/assets/template-elements/horizontal-line-white.svg"), url("/assets/template-elements/footer-text-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
    background-repeat: no-repeat;
    background-size: 110px 110px, 123px 123px, auto, auto, 100%;
    background-position: right 40px top 40px, right 46px bottom 33px, right 223px bottom 95px, left 45px bottom 84px, top 0 left 0;
  }
  
  // - 4 - Slide quote green bg
  div.slide-background.slide.level2.slide-quote-g {
    background-image: url("/assets/template-elements/star-black.svg"), url("/assets/template-elements/vertical-line-black.svg"), linear-gradient(to right, $green 50%, $green 50%);
    background-repeat: no-repeat;
    background-size: 190px 190px, auto, 100%;
    background-position: center top 13vh, center top 38vh, top 0 left 0;
  }
  
  // - 5 -Slide title centered purple bg
  div.slide-background.slide.level2.slide-title-p {
    background-image: url("/assets/template-elements/star-white.svg"), url("/assets/template-elements/vertical-line-white.svg"), linear-gradient(to right, $purple 50%, $purple 50%);
    background-repeat: no-repeat;
    background-size: 190px 190px, auto, 100%;
    background-position: center top 20vh, center 45vh, top 0 left 0;
    
  }
  
  // - 9 - Slide with title without footer text - black bg
  div.slide-background.slide.level2.slide-title-b-v1 {
    background-image: url("/assets/template-elements/3327-logo-br-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
    background-repeat: no-repeat;
    background-size: 260px 260px, 100%;
    background-position: right 69px bottom 67px, top 0 left 0;
  }
  
  // - 10 - Slide with title w/ footer text - black bg
  div.slide-background.slide.level2.slide-title-b-v2 {
    background-image: url("/assets/template-elements/3327-logo-br-white.svg"), url("/assets/template-elements/horizontal-line-2-white.svg"), url("/assets/template-elements/star-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
    background-repeat: no-repeat;
    background-size: 260px 260px, 660px auto, 190px 190px, 100%;
    background-position: right 69px bottom 67px, bottom 67px left 62px, bottom 185px left 62px, top 0 left 0;
  }
  
  // - 11 - Slide with 2 columns - left text black bg, right image white bg
  div.slide-background.slide.level2.slide-b-l-w-r {
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), linear-gradient(to right, $dark 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 110px 110px, 100%;
    background-position: right 40px top 40px, top 0 left 0;
  }
  
  // - 12 - Slide w/ full screen image
  div.slide-background.slide.level2.slide-img-full {
    background-image: url("/assets/images/image-full-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  
  // - 18 - Slide for partner logos
  div.slide-background.slide.level2.slide-partners {
    background-image: url("/assets/template-elements/partners-text-white.svg"), url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/template-elements/star-black.svg"), url("/assets/template-elements/horizontal-line-black.svg"), url("/assets/template-elements/footer-text-black.svg");
    background-repeat: no-repeat;
    background-size: auto, 110px 110px, 123px 123px, auto, auto;
    background-position: left 45px top 46px, right 40px top 40px, right 46px bottom 33px, right 223px bottom 95px, left 45px bottom 84px;
  }
  

  // full height image left - templates START

  div.slide-background.slide.level2.slide-full-img-l-txt-r {
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg");
    background-repeat: no-repeat;
    background-size: 110px 110px;
    background-position: right 40px top 40px;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v1{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-1.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v2{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-2.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v3{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-3.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v4{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-4.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v5-in{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-5-in.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v6-in{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-6-in.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v6-out{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-6-out.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v6-out-transp{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-6-out-transp.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v7{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-7.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v8{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-8.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v9{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-9.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v10-in{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-10-in.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }

  div.slide-background.slide.level2.slide-full-img-l-txt-r-v10-out{
    background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-10-out.png");
    background-repeat: no-repeat;
    background-size:  110px 110px, auto 100%;
    background-position: right 40px top 40px, bottom 0 left 0;
  }
  
// full height image left - templates END


  // 20 Slide final - title w/ black bg
  div.slide-background.slide.level2.slide-outro {
    position: relative;
    background-image: url("/assets/template-elements/3327-logo-br-white.svg"), url("/assets/template-elements/star-white.svg"), url("/assets/template-elements/horizontal-line-3-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
    background-repeat: no-repeat;
    background-size: 260px 260px, 190px 190px, 75vw auto, 100%;
    background-position: right 69px bottom 67px, top 99px left 62px, top 194px right 62px, top 0 left 0;
  }
  
  }


// ---------------------------------------------------------------------
// responsiveness



@media only screen and (max-width: 1400px) {

div.backgrounds {

// white bg classic
div.slide-background.slide.level2.slide-classic-w-v1,
div.slide-background.slide.level2.slide-classic-w-v2,
div.slide-background.slide.level2.slide-classic-w-v3,
div.slide-background.slide.level2.slide-agenda-simple,
div.slide-background.slide.level2.slide-agenda-3x2,
div.slide-background.slide.level2.slide-agenda-4x2,
div.slide-background.slide.level2.slide-table,
div.slide-background.slide.slide-img-center-w,
div.slide-background.slide.slide-img-l-txt-r-w,
div.slide-background.slide.slide-speaker-img-l-txt-r-w {
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/template-elements/star-black.svg"), url("/assets/template-elements/horizontal-line-black.svg"), url("/assets/template-elements/footer-text-black.svg");
  background-repeat: no-repeat;
  background-size: 8vw 8vw, 75px 75px, 30vw auto, auto 10px;
  background-position: right 40px top 40px, right 46px bottom 33px, right 173px bottom 71px, left 45px bottom 64px;
}

// black bg classic
div.slide-background.slide.level2.slide-classic-b-v1,
div.slide-background.slide.level2.slide-team,
div.slide-background.slide.level2.slide-projects {
  background-image: url("/assets/template-elements/3327-logo-tr-white.svg"), url("/assets/template-elements/star-white.svg"), url("/assets/template-elements/horizontal-line-white.svg"), url("/assets/template-elements/footer-text-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
  background-repeat: no-repeat;
  background-size: 8vw 8vw, 75px 75px, 30vw auto, auto 10px, 100%;
  background-position: right 40px top 40px, right 46px bottom 33px, right 173px bottom 71px, left 45px bottom 64px, top 0 left 0;
}

// - 9 - Slide with title without footer text - black bg
div.slide-background.slide.level2.slide-title-b-v1 {
  background-image: url("/assets/template-elements/3327-logo-br-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
  background-repeat: no-repeat;
  background-size: 20vw 20vw, 100%;
  background-position: right 69px bottom 67px, top 0 left 0;
}

// - 10 - Slide with title w/ footer text - black bg
div.slide-background.slide.level2.slide-title-b-v2 {
  background-image: url("/assets/template-elements/3327-logo-br-white.svg"), url("/assets/template-elements/horizontal-line-2-white.svg"), url("/assets/template-elements/star-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
  background-repeat: no-repeat;
  background-size: 20vw 20vw, 40vw auto, 12vw 12vw, 100%;
  background-position: right 69px bottom 67px, bottom 67px left 62px, bottom 185px left 62px, top 0 left 0;
}

// - 11 - Slide with 2 columns - left text black bg, right image white bg
div.slide-background.slide.level2.slide-b-l-w-r {
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), linear-gradient(to right, $dark 50%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 8vw 8vw, 100%;
  background-position: right 40px top 40px, top 0 left 0;
}

// - 18 - Slide for partner logos
div.slide-background.slide.level2.slide-partners {
  background-image: url("/assets/template-elements/partners-text-white.svg"), url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/template-elements/star-black.svg"), url("/assets/template-elements/horizontal-line-black.svg"), url("/assets/template-elements/footer-text-black.svg");
  background-repeat: no-repeat;
  background-size: auto, 70px 70px, 75px 75px, 250px auto, auto 10px;
  background-position: left 45px top 46px, right 40px top 40px, right 46px bottom 33px, right 173px bottom 71px, left 45px bottom 64px;
}

// full height image left - templates START

div.slide-background.slide.level2.slide-full-img-l-txt-r {
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg");
  background-repeat: no-repeat;
  background-size: 8vw 8vw;
  background-position: right 40px top 40px;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v1{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-1.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v2{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-2.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v3{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-3.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v4{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-4.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v5-in{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-5-in.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v6-in{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-6-in.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v6-out{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-6-out.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v6-out-transp{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-6-out-transp.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v7{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-7.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v8{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-8.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v9{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-9.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v10-in{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-10-in.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

div.slide-background.slide.level2.slide-full-img-l-txt-r-v10-out{
  background-image: url("/assets/template-elements/3327-logo-tr-black.svg"), url("/assets/images/image-10-out.png");
  background-repeat: no-repeat;
  background-size:  8vw 8vw, auto 100%;
  background-position: right 40px top 40px, bottom 0 left 0;
}

// full height image left - templates END


// 20 Slide final - title w/ black bg
div.slide-background.slide.level2.slide-outro {
  background-image: url("/assets/template-elements/3327-logo-br-white.svg"), url("/assets/template-elements/star-white.svg"), url("/assets/template-elements/horizontal-line-3-white.svg"), linear-gradient(to right, $dark 50%, $dark 50%);
  background-repeat: no-repeat;
  background-size: 20vw 20vw, 160px 160px, 75vw auto, 100%;
  background-position: right 69px bottom 67px, top 80px left 62px, top 159px right 62px, top 0 left 0;
}

}
}