/*-- scss:defaults --*/

// Plaid Trial via file, space mono via google fonts
@import url('/assets/fonts/plaid-trial.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// fonts
$font-family-sans-serif: "Plaid Trial", "Space Mono", serif !default;

// colors
$light: #F0EEF3;
$gray: #656574;
$dark: #24242A;
$purple: #D330ED;
$green: #62F0AC;

$body-bg: $light !default;
$body-color: $dark!default;
$link-color: $purple!default;
$selection-bg: $purple !default;

// font styling

%plaid-xxl {
  font-size: 72px;
  line-height: 86px;
  font-family: "Plaid Trial" sans serif;
  font-weight: 800;
}

%plaid-xl-semibold {
  font-size: 48px;
  line-height: 57px;
  font-family: "Plaid Trial" sans serif;
  font-weight: 600;
}

%plaid-xl-extrabold {
  font-size: 48px;
  line-height: 57px;
  font-family: "Plaid Trial" sans serif;
  font-weight: 800;
}

%plaid-m-2 {
  font-size: 21px;
  line-height: 21px;
  font-family: "Plaid Trial" sans serif;
  font-weight: 400;
}

%plaid-m {
  font-size: 18px;
  line-height: 25px;
  font-family: "Plaid Trial" sans serif;
  font-weight: 400;
}

%space-mono-l {
  font-size: 30px;
  line-height: 36px;
  font-family: "Space Mono" sans serif;
  font-weight: 400;
}

%space-mono-m-2 {
  font-size: 21px;
  line-height: 25px;
  font-family: "Space Mono" sans serif;
  font-weight: 400;
}

// bg-styling

// data-background-image="/assets/templates/blank-white.png"
%blank-white {
  background: url("/assets/templates/blank-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// headings
$presentation-heading-font: "Plaid Trial", "Space Mono", sans serif !default;
// "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, sans serif !default;
$presentation-heading-color: $dark !default;
$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

.relative {
  position: relative;
}

.slide-white-3column {
  // @extend %blank-white;
  padding: 114px 52px;
  
  h2 {
    // @extend %plaid-xxl;
    font-size: 72px;
    line-height: 86px;
    font-family: "Plaid Trial"  sans serif;
    font-weight: 800;
    
    text-transform: uppercase;
    display: inline-block;
    width: 70%;
    
  }
  h3 {
    // @extend %space-mono-l;
    font-size: 30px;
    line-height: 36px;
    font-family: "Space Mono"  sans serif;
    font-weight: 400;

    text-transform: none;
    display: inline-block;
    width: 70%;
  }
  p {
    @extend %plaid-m;
  }

  .column {
    width: 33%;
    padding-right: 40px;
  }
}

.slide-white-2column-normalcase {
  // @extend %blank-white;
  padding: 114px 52px;
  
  h2 {
    // @extend %plaid-xxl;
    font-size: 48px;
    line-height: 57px;
    font-family: "Plaid Trial"  sans serif;
    font-weight: 600;
    
    margin-bottom: 50px;
    text-transform: none;
    display: inline-block;
    width: 70%;
    
  }
  h3 {
    // @extend %space-mono-l;
    font-size: 30px;
    line-height: 36px;
    font-family: "Space Mono"  sans serif;
    font-weight: 400;

    margin-bottom: 50px;
    text-transform: none;
    display: inline-block;
    width: 70%;
  }
  p {
    // @extend %space-mono-m-2;
    font-size: 21px;
    line-height: 25px;
    font-family: "Space Mono" sans serif;
    font-weight: 400;

  }

  .column {
    width: 50%;
    padding-right: 40px;
  }
}

.slide-white-1column-uppercase {
  // @extend %blank-white;
  padding: 114px 52px;
  
  h2 {
    // @extend %plaid-xxl;
    font-size: 48px;
    line-height: 57px;
    font-family: "Plaid Trial"  sans serif;
    font-weight: 600;
    
    margin-bottom: 50px;
    text-transform: uppercase;
    display: inline-block;
    width: 70%;
    
  }
  p {
    // @extend %space-mono-l;
    font-size: 30px;
    line-height: 36px;
    font-family: "Space Mono"  sans serif;
    font-weight: 400;

    margin: 0;
    text-transform: none;
    display: inline-block;
    width: 55%;
  }

  // .column {
  //   width: 50%;
  //   padding-right: 40px;
  // }
}





.slide-img-l-text-r {
  // background-color: #62F0AC;
  position: relative;
  .column {
    width: 50%;
    h3 {
      @extend %plaid-xl-extrabold;
    }

    p {
      @extend %plaid-m;
    }

  }
}


  
// .title-1 {
//   .body {
//     padding: 65px 53px;
//   }
// }
// .reveal .slide blockquote {
//   border-left: 3px solid $text-muted;
//   padding-left: 0.5em;
// }

// .reveal a {
//     line-height: 1.3em;
//   }

// .reveal
